* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
.h2_pub {
    text-align: center;
    margin: 10px auto;
    font-size: 35px;
}
.p_pub {
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
}
#inner_pub {
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1200px;
    min-width: 1200px;
}
.con_img_pub {
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 945px;
    height: 820px;
    margin: 20px auto;
}
.img_text_pub {
    position: relative;
    top: 85px;
    text-align: center;
}
.img_text_tit_pub {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #98704a;
}
.flex_contents_pub {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 155px;
    justify-content: center;
    text-align: center;
}
.img1_pub {
    width: 250px;
}
.img2_pub {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}
.img3_pub {
    width: 250px;
}

.flex_contents2_pub {
    position: relative;
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 210px;
    left: 50px;
    justify-content: center;
    background-color: #544444;
    text-align: center;
}
.png_box_pub {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px 45px;
}
.png1_pub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.png2_pub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.png3_pub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.png4_pub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.intro_b_pub {
    position: relative;
    border-top: 15px solid #0766ee;
    border-left: 15px solid #0766ee;
    border-right: 15px solid #0766ee;
    top: -5px;
    height: 40px;
}
.intro_pub {
    position: relative;
    margin: 10px;
    text-align: center;
    top: -35px;
}
.tit_pub {
    position: absolute;
    font-size: 35px;
    top: 5px;
    left: 530px;
}
.flex_contents_txt_pub {
    margin: 5px auto;
    color: black;
}
.flex_contents_txt_pub2 {
    margin: 5px auto;
    color: white;
}
.flex_contents3_pub {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 90px 10px;
    top: -20px;
    background-color: #f6f6f6;
}
.number_pub {
    background-color: #2789f6;
    border: 1px solid #2789f6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    line-height: 45px;
    font-weight: 500;
    margin: 0px 5px;
    text-align: center;
}
.list_1_pub {
    margin: 0px 10px;
    width: 43%;
}
.position_pub {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 520;
    text-align: left;
    padding-left: 10px;
}
.list_img1_pub {
    margin: 5px auto;
    width: 510px;
    height: 321px;
}
.list_img2_pub {
    margin: 45px auto 5px;
    width: 510px;
    height: 321px;
}
.list_img3_pub {
    margin-top: 30px;
    width: 510px;
    height: 321px;
}
.list_img4_pub {
    margin-top: 70px;
    width: 510px;
    height: 321px;
}
.con_img2_pub {
    background-image: url('../assets/images/cleaning_process_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 380px;
    position: relative;
    top: -5px;
}
.serv_1_pub {
    position: absolute;
    width: 380px;
    top: 60px;
    left: 100px;
}
.serv_2_pub {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 90px;
    right: 30px;
    height: 230px;
    padding: 5px 5px;
}
.flex_row1_pub {
    position: relative;
    display: flex;
    flex-direction: row;
}
.flax_r_1_pub {
    margin: 0px 15px;
    color: #2789f6;
    font-weight: 600;
}
.fd_1_pub {
    position: relative;
    left: 35px;
    bottom: -10px;
    font-size: 12px;
    text-align: left;
}
.flex_contents5_pub {
    position: relative;
    top: 15px;
}
.bg_1_pub {
    background-color: white;
    margin-top: 20px;
}
.flex_contents6_pub {
    position: relative;
    top: 40px;
}
.tab_pub {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%;
    height: 100px;
}
.tab_th {
    background-color: #2789f6;
    border: 1px solid #444444;
}
.tab_td {
    text-align: center;
    border: 1px solid #444444;
}
.flex_row2_pub {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 10%;
}
.flax_r_2_pub {
    padding: 3px 10px;
    margin: 1px 15px;
    border-radius: 15px;
    border: 2px solid #2789f6;
}
.tab_bottom {
    font-size: 10px;
    text-align: left;
    margin: 10px auto 100px;
    width: 950px;
}
