.sub_visual .inner {
    position: relative;
    width: 1200px;
    height: 300px;
    top: 0;
    margin: 0 auto;
}

.order_product {
    position: relative;
    width: 1200px;
    padding: 8px;
    margin: 0 auto;   
}

.order_title {
    font-size: 17px;
    font-weight: 500;
    color: #2d2f45;
    border-bottom: 2px solid #2d2f45;
    height: 45px;
    line-height: 43px;
    letter-spacing: -0.5px;
}

.order_product table {
    width: 1200px;
    border: 0;
    margin-bottom: 110px;
    border-bottom: 1px solid #dfdfdf;
}

.order_product table thead tr th {
    color: #98989f;
    padding: 20px 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #fff;
    border: 0;
}

.order_product table tbody tr td {
    color: #98989f;
    height: 200px;
    padding: 20px 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #fff;
    text-align: center;
    border: 0;
    margin: 0 auto;
    border-top: 1px solid #dfdfdf;
}

.reservation_btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0766ee;
    color: #fff;
    outline: none;
}